{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>App 24</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <img class="icon" src="{% static 'images/Vector.png' %}" />
                <img class="name" src="{% static 'images/APP-24 Finance.png' %}" />
            </div>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">How We Operate</a>
            </div>
        </header>
        <div class="content">
            <h4>Financial Management Application </br> that works seamlessly</h4>
            <h5>Built for Micro-Finance Banks, Investment Companies,
                Cooperative Organizations </br> and other small-scale financial institutions</h5>

                <div class="btn-group">
                    <button class="btn"><a href="signin">Sign In</a></button>
                    <button class="btn">Sign Up</button>
                </div>
        </div>
    </div>
</body>

</html>