{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img class="icon" src="{% static 'images/Vector.png' %}" alt="">
                <img class="name" src="{% static 'images/APP-24 Finance.png' %}" alt="">
            </div>
        </header>
        <div class="signin-content">
            <div class="content-wrapper">
                <div class="content-info">
                    <h2>Reset Password</h2>
                    <h4>Kindly provide your registered email address</h4>
                </div>
                <div class="signin-form">
                    <form>
                        <label for="email">Email</label>
                        <input type="text" placeholder="name@email.com" class="signin-input-box">
                       
                        <div class="btn-groups">
                            <button class="submit">
                                Continue
                            </button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>